body {
    background-color: #0d5ef100;
}


/* NAVBAR/HEADER */
.padding-nav {
    padding: 1.5rem;
}

.margin-nav {
    margin-left: 53rem;
    margin-right: 37rem;
}

.nav-title-size {
    font-size: 2rem;
}

/* FOOTER */
.footer-text {
    color: #fff;
}

.footer-padding {
    padding: 15px 0 15px 0;
}


/* NOTICE */
.notice-container {
    color: black;
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
    padding: 2%;
    margin-top: 2%;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 3%;
}

.notice-item {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-bottom: 2%;
    border-style: solid;
    border-width: 1px;
}

.notice-item:hover {

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.notice-title {
    text-align: center;
}

.notice-title h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}

.notice-description {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: normal;

}

.notice-signature {
    text-align: right;
    font-weight: lighter;
    margin-right: 1%;
}

/*LOGIN-PAGE*/

.login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    width: 20%;
    padding: 3%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #007bff;
}

.btn-placement {
    margin-left:300%;
    margin-top: 12%;
}

.input-margin {
    margin-bottom: 4%;
}
